/* Place CSS styles here */

body {
  background-color: rgb(209,229,225);
  font-family: 'Raleway', sans-serif;
}

hl {
   font-family: 'Roboto', sans-serif;
}

h2 {
    color: rgb(204,68,119);
    font-family: 'Roboto', sans-serif;
  }
  


  